[submodule "2oAno/ED/EDProject"]
	path = 2oAno/ED/EDProject
	url = git@github.com:FlipGoncalves/EDProject.git
[submodule "1oAno/2oSemestre/GIC/GIC_Project"]
	path = 1oAno/2oSemestre/GIC/GIC_Project
	url = git@github.com:FlipGoncalves/Veniqa.git
