[submodule "2oAno/ED/EDProject"]
	path = 2oAno/ED/EDProject
	url = git@github.com:FlipGoncalves/EDProject.git
[submodule "1oAno/2oSemestre/GIC/GIC_Project"]
	path = 1oAno/2oSemestre/GIC/GIC_Project
	url = git@github.com:FlipGoncalves/Veniqa.git
[submodule "1oAno/2oSemestre/RM/RM_Probabilistic_Localization"]
	path = 1oAno/2oSemestre/RM/RM_Probabilistic_Localization
	url = git@github.com:FlipGoncalves/RobotProbabilisticLocalization.git
[submodule "1oAno/2oSemestre/RM/RM_MIR_Cleaner"]
	path = 1oAno/2oSemestre/RM/RM_MIR_Cleaner
	url = git@github.com:FlipGoncalves/MIRCleaner.git
[submodule "1oAno/1oSemestre/PC/PC_PathExecutor"]
	path = 1oAno/1oSemestre/PC/PC_PathExecutor
	url = git@github.com:FlipGoncalves/PathExecutor.git
[submodule "1oAno/1oSemestre/PC/PC_WallFollowing"]
	path = 1oAno/1oSemestre/PC/PC_WallFollowing
	url = git@github.com:FlipGoncalves/WallFollowing.git
[submodule "1oAno/2oSemestre/SI II/SI_ChatBot"]
	path = 1oAno/2oSemestre/SI II/SI_ChatBot
	url = git@github.com:FlipGoncalves/ChatBot.git
[submodule "1oAno/2oSemestre/SI II/SI_BombermanAI"]
	path = 1oAno/2oSemestre/SI II/SI_BombermanAI
	url = git@github.com:FlipGoncalves/BombermanAI.git
[submodule "1oAno/1oSemestre/RI/RI_3D_ObjectSimulation"]
	path = 1oAno/1oSemestre/RI/RI_3D_ObjectSimulation
	url = git@github.com:FlipGoncalves/3D_ObjectSimulation.git
[submodule "1oAno/1oSemestre/RI/RI_Inspection_Operations"]
	path = 1oAno/1oSemestre/RI/RI_Inspection_Operations
	url = git@github.com:FlipGoncalves/Inspection_Operations.git
[submodule "1oAno/1oSemestre/RI/RI_Artificial_Vision_Robot"]
	path = 1oAno/1oSemestre/RI/RI_Artificial_Vision_Robot
	url = git@github.com:FlipGoncalves/ArtificialVision-Robot.git
[submodule "1oAno/1oSemestre/PSR/PSR_Robo_Butler"]
	path = 1oAno/1oSemestre/PSR/PSR_Robo_Butler
	url = git@github.com:FlipGoncalves/RoboButler_PSR.git
[submodule "1oAno/1oSemestre/VS/VC_Keyboard_Detection"]
	path = 1oAno/1oSemestre/VS/VC_Keyboard_Detection
	url = git@github.com:FlipGoncalves/KeyboardDetection.git
[submodule "1oAno/1oSemestre/VC/VC_Keyboard_Detection"]
	path = 1oAno/1oSemestre/VC/VC_Keyboard_Detection
	url = git@github.com:FlipGoncalves/KeyboardDetection.git
