{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<head>
	<title>AniN3</title>
	{% bootstrap_css %}
	{% bootstrap_javascript %}
<head>

<section class="text-center pt-5">
	<div class="container">
	  <h1 class="jumbotron-heading">AniN3</h1>
	  <p class="lead text-muted">An anime database based on N3 and GraphDB made by students in Universidade de Aveiro in context of the Web Semântica classes</p>
	  <p>
		<form class="form-inline justify-content-center"  method="get" action="{% url 'searchByName' %}">
			<input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	  </p>
	</div>
</section>

<section>
	<h2 class="pt-3">Top 10 Anime</h2>
	<hr>
	<div class="row">
	{% for anime in data %}
	<div class="col-sm-3">
		<div class="card border-primary mb-3" style="height:175px" style="max-width: 18rem;">
				<div class="card-header" property="position">Rank: #{{anime.Rank}}</div>
				<div class="card-body text-primary">
					<h5 class="card-title">Name: <a href="{% url 'animeTitle' title=anime.Title %}" property="name">{{anime.Title}}</a></h5>
					<p class="card-text"></p>
				</div>
		</div>
	</div>
	{% endfor %}
</section>


{% endblock %}
